<!DOCTYPE html>
<html>
<head>
	<title>New</title>
</head>
<body>


	<div class = 'col-xs-offset-5' ng-controller='editController'>
		<h1>Edit Friend</h1>
		<form ng-submit='update()'>
			<table class = "table-striped">
				<tr>
					<td>First Name:</td>
					<td><input type="text" name="fname" placeholder="First Name" ng-model = 'updateFriend.fname'></td>
				</tr>
				<tr>
					<td>Last Name:</td>
					<td><input type="text" name="lname" placeholder="Last Name" ng-model = 'updateFriend.lname'></td>
				</tr>
				<tr>
					<td>Birthday:</td>
					<td><input type="date" name="dob" ng-model = 'updateFriend.dob'></td>
				</tr>
				<tr>
					<td><input type="Submit" name="submit" value="Edit User"></td>
				</tr>
			</table>
		</form>
			
		</form>
		<a href="#/"><button class = 'btn btn-primary'>Back</button></a>

	</div>

</body>
</html>